* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 300;
}

/*
@media (max-width: 900px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}*/
