*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
   list-style: none;
   text-decoration: none;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}